# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [0]:

T=(2,10,5,33,43,1,1,23,4)
L=list(T)
L.sort()
print("L =",L)

L = [1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [0]:
import copy
s = "Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность.".replace(",","").replace(":","").replace("—","").replace(".","")
s = s.split()
new_list = copy.deepcopy(s)
new_list.reverse()
print(s)
print(new_list)

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность']
['возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [0]:
l = ['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность']
longes_word = ""
word1 = ""
max_len = 0
min_len = 10000
for big_word in l:
  if len(big_word) > max_len:
    longes_word = big_word
    max_len = len(big_word)
for word in l:
  if len(word) < min_len:
    word1 = word
    min_len = len(word)
print("Самое длинное - {}, его длинна - {}".format(longes_word, max_len))
print("Самое короткое - {}, его длинна - {}".format(word1, min_len))

Самое длинное - возвращаются, его длинна - 12
Самое короткое - не, его длинна - 2

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [256]:
import random
import copy
random_list = [random.randint(0, 100) for i in range(10)]
max_number = max(random_list)
new_list = copy.deepcopy(random_list)
a = ""
c = [0]
for i in new_list:
  if i % 7  == 0:
    a = i
    c.append(i)
    d = max(c)
print(new_list, d)
#  else:
#    print("В списке отсутствует число, которое делится без остатка на 7")
# Весь вечер бился, но так и не понял почему возникает ошибка если раскомментировать эти строки. Прошу дать комментарий в чем я не прав.

[29, 23, 4, 62, 69, 99, 85, 6, 50, 78] 63

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [0]:
L = [("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
L.sort(key = lambda x: (x[1], x[0]))
print(L)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.