# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [0]:
#напишите ваше решение сюда

T = (2,10,5,33,43,1,1,23,4)
L = list([1,1,2,4,5,10,23,33,43])
T = L
print(L)

[1, 1, 2, 4, 5, 10, 23, 33, 43]


# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [1]:
#напишите ваше решение сюда

def conversely(s):
    s = s.split()
    s.reverse()
    s2 = ""
    for i in s:
        s2 += i + ' '
    return s2
 
string = input()
string = conversely(string)
print(string)

я ты он она
она он ты я

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [0]:
#напишите ваше решение сюда

str = "я ты он она"
print(str)

listWords = str.split()
idLongestWord = 0

for i in range(1,len(listWords)):
    if len(listWords[idLongestWord]) < len(listWords[i]):
        idLongestWord = i

print(listWords[idLongestWord])


string = input()
 
words = string.split()
 
shortest = words[0]
 
for i in words[1:]:
    if len(i) < len(shortest):
        shortest = i
 
print(shortest)

я ты он она
она
я ты он она
я

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [0]:
#напишите ваше решение сюда
import random
random_list = [random.randint(0, 100) for i in range(10)]
for i in range(100):
  i %= 7
    clients_names_biggest.append(random.choice(clients_names))
    clients_age_biggest.append(random.randint(18, 50))
    clients_credit_biggest.append(random.randint(10000, 1000000))
print(random_list)

NameError: ignored

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [0]:
#напишите ваше решение сюда
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
print('Выведем людей')
for i in range(len(L)):
    print(L[i][0])
print('Вывести отсортированный список по возрасту')
for i in range(1, len(L)+1):
    for age in L:
        if age[1] == i:
            print(age[0])

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.

In [0]:
#напишите ваше решение сюда