# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [1]:
#напишите ваше решение сюда
T=(2,10,5,33,43,1,1,23,4)

a = list(T)
a.sort()
print(a)

[1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [16]:
#напишите ваше решение сюда

a = 'Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.'
b = ''
for i in a:
  if i == ' ' or i.isalnum():
    b += i

while b.find('  ')>=0:
  b = b.replace('  ',' ')
  
c = b.split(' ')
print(c)
c.reverse()
print(c)
for i in c:
  print(i)

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']
Конфуций
возможность
упускай
не
слова
выбирай
времени
теряй
не
Поэтому
возможность
слово
время
обратно
возвращаются
не
никогда
вещи
Три

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [18]:
#напишите ваше решение сюда

print(c)
biggest=c[0]
smallest=c[0]
max_size=len(c[0])
min_size=len(c[0])
for i in c:
  if max_size<len(i):
    max_size=len(i)
    biggest=i
  if min_size>len(i):
    min_size=len(i)
    smallest=i
print('Длинное: ',biggest, '\nКороткое: ',smallest)

['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']
Длинное:  возвращаются
Короткое:  не

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [26]:
#напишите ваше решение сюда
import random
random_list = [random.randint(0, 100) for i in range(10)]
print(random_list)
random_list.sort(reverse=True)
d = 0
for i in random_list:
  if i % 7 == 0:
    print(i)
    d += 1
    break
if d == 0:
  print('No such numbners')

[97, 30, 46, 78, 20, 39, 92, 52, 69, 52]
No such numbners

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [27]:
#напишите ваше решение сюда
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
for e in range(len(L)):
  for i in range(len(L) - e - 1):
    if L[i][1]>L[i+1][1]:
      f = L[i]
      L[i]=L[i + 1]
      L[i+1] = f
print(L)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.

In [0]:
#напишите ваше решение сюда
Нинаю =)