# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [2]:
#напишите ваше решение сюда
T=(2,10,5,33,43,1,1,23,4)
L=sorted(list(T))
print(L)

[1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [24]:
import string
translator = str.maketrans('', '', string.punctuation)
s = "Три вещи никогда не возвращаются обратно - время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. - Конфуций."
l=s.translate(translator)
l=l.replace('-','').split()
print(l)
print(l[::-1])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [49]:
#напишите ваше решение сюда
import string
translator = str.maketrans('', '', string.punctuation)
s = "Три вещи никогда не возвращаются обратно - время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. - Конфуций."
l=s.translate(translator)
l=l.replace('-','').split()
print(l)
a = 0
for i in range(1,len(l)):
  if len(l[a])<len(l[i]):
    a=i
print('самое длинное слово: ', l[a]) 
for i in range(1,len(l)):
  if len(l[a])>len(l[i]):
    a=i
print('самое короткое слово: ', l[a])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
самое длинное слово:  возвращаются
самое короткое слово:  не

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [106]:
#напишите ваше решение сюда
import random
l = [random.randint(0, 100) for i in range(10)]
d = [1]
a=0
c=0
print(l)
for i in range(len(l)):
  if l[i]%7==0 and l[i]>a:
    a=l[i]
if a>0:
  print('максимальное число из списка кратное 7: ', a)
else:
  print('такого числа нет')

[20, 54, 77, 74, 45, 0, 65, 67, 91, 25]
максимальное число из списка кратное 7:  91

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [116]:
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
L.sort(key = lambda x:(x[1]))
print(L)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]