# ***ДЗ №3 от 25.09.19 Смагина Мария***

# Задача 1 
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [0]:
T = (2, 10, 5, 33, 43, 1, 1, 23, 4)
L = sorted(list(T))
print (L)

[1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2 
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [29]:
s = "Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций."
l = ''.join((c if c.isalpha() else ' ') for c in s).split()
print(l)
print(l[::-1])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3 
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [41]:
s = "Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций."
l = ''.join((c if c.isalpha() else ' ') for c in s).split()
print(max(l, key=len))
print(min(l, key=len))

возвращаются
не

# Задача 4
Найти максимальное число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [152]:
import random
random_list = [random.randint(0, 100) for i in range(10)]
print(random_list)
for i in random_list[1:]:
    list7 = [i for i in random_list if i % 7 == 0]

if len(list7) == 0:
    print('нет такого')
if len(list7) != 0:    
    print(max(list7))

[34, 58, 52, 25, 79, 52, 63, 68, 47, 21]
63

# Задача 5 
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [0]:
L = [("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
for i in range(1, 100):
    for name in L:
        if name[1] == i:
            print(name[0])

Виолетта
Иван
Виталик
Александр
Марина

или

In [0]:
L = [("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
a = sorted(L, key=lambda x: (x[1]))
print(a)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]