# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [153]:
#напишите ваше решение сюда
T=(2,10,5,33,43,1,1,23,4)
L=list(T)
L.sort()
print(L)

[1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [154]:
#напишите ваше решение сюда
str = 'Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.'

str = str.replace(',','').replace('-','').replace('.','').replace(':','').replace('– ','').replace('— ','')
s = str.split(' ')
print(s)
print(s[::-1])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [155]:
#напишите ваше решение сюда
id_max = 0
id_min = 0
for i in range(1,len(s)):
  if len(s[id_max]) < len(s[i]):
        id_max = i
  if len(s[id_min]) > len(s[i]):
        id_min = i
      
print ('Max:',s[id_max], ' Min:', s[id_min])

Max: возвращаются  Min: не

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [158]:
#напишите ваше решение сюда
import random
random_list = [random.randint(0, 100) for i in range(10)]
print(random_list)

id = 0
for i in range(len(random_list)):
  if random_list[id] < random_list[i]:
        id = i 
if random_list[id] % 7 == 0:
  print(random_list[id])
else:
  print ('NONE')

[93, 85, 7, 98, 75, 66, 93, 15, 54, 12]
98

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [166]:
#напишите ваше решение сюда
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]

s = []
t = 0
for i, y in L:
  if t == 0:
    t = y
  elif t < y:
    t = y
for x in range(1, t+1):
    for c in L:
        if c[1] == x:
          s.append(c)
print(s)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.

In [0]:
#напишите ваше решение сюда