# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [0]:
#напишите ваше решение сюда
T=(2,10,5,33,43,1,1,23,4)
L=sorted(T)
print(L, type(L))

[1, 1, 2, 4, 5, 10, 23, 33, 43] <class 'list'>

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [12]:
#напишите ваше решение сюда
s='Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.'
prep=[',','.','–','—',':']
for znak in prep:
  s=s.replace(znak,'')
s=s.replace('  ',' ')
#print(s1, type(s1))
l = s.split(" ")
print(l,type(l))
print(l[::-1])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций'] <class 'list'>
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [13]:
#напишите ваше решение сюда
maxim=len(l[0])
maxindex=0
minim=len(l[0])
minindex=0
for i in range(len(l)):
  if len(l[i]) > maxim:
    maxim = len(l[i])
    maxindex = i
  if len(l[i]) < minim:
    minim = len(l[i])
    minindex = i
print(f'Самое длинное слово: {l[maxindex]}\nСамое короткое слово: {l[minindex]}')

Самое длинное слово: возвращаются
Самое короткое слово: не

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [40]:
#напишите ваше решение сюда
import random
random_list = [random.randint(0, 100) for i in range(10)]
print(random_list)
delimye=[]
for i in random_list:
  if i%7==0:
    delimye.append(i)
if len(delimye)>0:
  print('Максимальное кратное 7: ',max(delimye))
else:
  print('Ни один элемент списка не кратен 7')

[82, 98, 43, 8, 84, 57, 24, 4, 84, 7]
Максимальное кратное 7:  98

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [46]:
#напишите ваше решение сюда
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]
L.sort(key=lambda L: L[1])
print(L)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.

In [0]:
#напишите ваше решение сюда
print('за эту задачку отдельное спасибо!) Решаем всей семьей. Пока в процессе...')