# Домашняя работа по теме: Листы и кортежи

#### Мягкий дедлайн: 2 октября 23:59
#### Жесткий делайн: 9 октября 23:59

Отправлять ваши решения на адрес: homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 3 > ФИО

# Задача 1
Дан кортеж T=(2,10,5,33,43,1,1,23,4). Нужно получить список L=[1,1,2,4,5,10,23,33,43]

In [292]:
#напишите ваше решение сюда
T=(2,10,5,33,43,1,1,23,4)

def bubble_sort(L):
  for k in range(0, len(L)-1):
    for i in range(0, len(L)-k-1):
      if L[i] > L[i+1]:
        L[i],L[i+1]=(L[i+1],L[i])
  return L
  
L=bubble_sort(list(T))
print(L)

[1, 1, 2, 4, 5, 10, 23, 33, 43]

# Задача 2
Дана строка «Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций.» Необходимо получить список(без знаков препинания) отдельных слов и вывести его (список). Затем необходимо вывести все слова в обратном порядке, не изменяя список.

In [284]:
#напишите ваше решение сюда
s="Три вещи никогда не возвращаются обратно — время, слово, возможность. Поэтому: не теряй времени, выбирай слова, не упускай возможность. – Конфуций."

### Через регулярное выражение
#import re
#l=re.findall('[А-Яа-я]+', s)

### Через цикл
l=""
for c in s:
  if c not in (',',".","—","–",":"):
    l+=c
l=l.replace("  "," ").split(" ")

print(l)
print(l[::-1])

['Три', 'вещи', 'никогда', 'не', 'возвращаются', 'обратно', 'время', 'слово', 'возможность', 'Поэтому', 'не', 'теряй', 'времени', 'выбирай', 'слова', 'не', 'упускай', 'возможность', 'Конфуций']
['Конфуций', 'возможность', 'упускай', 'не', 'слова', 'выбирай', 'времени', 'теряй', 'не', 'Поэтому', 'возможность', 'слово', 'время', 'обратно', 'возвращаются', 'не', 'никогда', 'вещи', 'Три']

# Задача 3
Найти самое длинное и самое короткое слово в листе. (лист использовать из предыдущей задачи)

In [290]:
#напишите ваше решение сюда
min_len = [len(l[0]),l[0]]
max_len = [len(l[0]),l[0]]

for w in l:
  min_len = (len(w),w) if len(w) < min_len[0] else min_len
  max_len = (len(w),w) if len(w) > max_len[0] else max_len
  
print(f" Самое короткое слово \"{min_len[1]}\", самое длинное слово \"{max_len[1]}\"")

 Самое короткое слово "не", самое длинное слово "возвращаются"

# Задача 4
Найти максимальное  число из списка, которое делится на 7 без остатка. [random list]. Если такого нет, то вывести сообщение об этом.

In [287]:
#напишите ваше решение сюда
import random
random_list = [random.randint(0, 100) for i in range(10)]
print(random_list)

max_val=-1

for i in random_list:
  if (i%7==0 and i>max_val):max_val=i

print(max_val) if max_val!=-1 else print("Нет числа, которое делится на 7 без остатка")

[33, 54, 69, 52, 76, 58, 75, 59, 26, 16]
Нет числа, которое делится на 7 без остатка

# Задача 5
Дан лист кортежей L=[(«Иван», 24), («Марина», 44), («Виолетта», 6), («Александр», 30), («Виталик», 25)] Необходимо отсортировать список по возрасту.

In [295]:
#напишите ваше решение сюда
L=[("Иван", 24), ("Марина", 44), ("Виолетта", 6), ("Александр", 30), ("Виталик", 25)]

#bubble sort
for k in range(0, len(L)-1):
  for i in range(0, len(L)-k-1):
    if L[i][1] > L[i+1][1]:
      L[i],L[i+1]=(L[i+1],L[i])
  
print(L)

[('Виолетта', 6), ('Иван', 24), ('Виталик', 25), ('Александр', 30), ('Марина', 44)]

# Задача 6 (по желанию, без учета баллов, для саморазвития)

У вас есть девять цифр: 1, 2, …, 9. Именно в таком порядке. Вы можете вставлять между ними знаки «+», «-» или ничего. У вас будут получаться выражения вида 123+45-6+7+89. Найдите все из них, которые равны 100.

In [296]:
#напишите ваше решение сюда
L = "123456789"

#Маска знаков между цифрами 
#0 - none, 1 - минус, 2 - плюс
def tern(i):
  a=i%3
  b=i//3
  if b == 0 :
    return a
  if b > 0:
    return str(tern(b))+str(a)


for i in range(1,(3**(len(L)-1))):
  p=0
  t=0
  S=L
  for k in str(tern(i))[::-1]:
    p+=1
    n=p+t
    if k=="1":
      S=S[:-n] + '-' + S[-n:]
    if k=="2":
      S=S[:-n] + '+' + S[-n:]
    if k == "1" or k=="2":
      t+=1
    
  if (eval(S)==100):
    print(S, "=" , 100)

123-45-67+89 = 100
123-4-5-6-7+8-9 = 100
123+45-67+8-9 = 100
123+4-5+67-89 = 100
12-3-4+5-6+7+89 = 100
12+3-4+5+67+8+9 = 100
12+3+4+5-6-7+89 = 100
1+23-4+56+7+8+9 = 100
1+23-4+5+6+78-9 = 100
1+2+34-5+67-8+9 = 100
1+2+3-4+5+6+78+9 = 100