#### Мягкий дедлайн: 18 сентября 23:59
#### Жесткий дедлайн: 25 сентября 23:59

Отправляйте Notebook файл с решение по адресу homeituniversity@gmail.com

Тема письма: Python курс > ДЗ 1 > ФИО

# Задача 1
Если мы перечислим все натуральные числа меньше 10, кратные 3 или 5, мы получим 3, 5, 6 и 9. Сумма этих кратных чисел равна 23.
Найти сумму всех кратных 3 или 5 меньше 1000.

In [0]:
# Впишите сюда ваше решение

a = 0
b = 0

while a < 1000:
    a = a + 3
    print (a)

while b < 1000:
    b = b + 5
    print (b)
    
sum([i for i in range(1000) if i % 3 == 0 or i % 5 == 0])

# Задача 2
Каждый новый член в последовательности Фибоначчи генерируется путем добавления двух предыдущих членов. 
Начиная с 1 и 2, первые 10 слагаемых будут:
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, …
Рассматривая члены в последовательности Фибоначчи, значения которых не превышают четырех миллионов, найдите сумму четных членов.

In [0]:
# Впишите сюда ваше решение

a = 1
b = 1
total = 0
while a <= 4000000:
    if a % 2 == 0:
        total += a
    a, b = b, a + b     
print (total)

4613732

# Задача 3
Посчитать факториал числа 155, не применяя библиотечные функции.

In [0]:
# Впишите сюда ваше решение

n = 155

factorial = 1
while n > 1:
    factorial *= n
    n -= 1
 
print(factorial)

4789142901463393876335775239063022722176295591337767174070096339929153381622433264146569329274347655956110484372311586936020749175429076661003216274382475477806479918110524333880196139452687559896255940215628508414806740389616633144934400000000000000000000000000000000000000

# Задача 4
Пользователь делает вклад в размере 155 899 рублей сроком на 16 лет под 8,56% годовых(каждый год размер его вклада увеличивается на %. Эти деньги прибавляются к сумме вклада, и на них в следующем году тоже будут проценты).
Какая сумма будет на счету клиента через 5, 8, 12, 16 лет?

In [7]:
# Впишите сюда ваше решение

a = 155899
b = 8.56
c = 1

while c < 17:
  a+=a*(b / 100)
  if (c == 5):
    print("5 лет:", '%.2f' % a)
  if (c == 8):
    print("8 лет:", '%.2f' % a)
  if (c == 12):
    print("12 лет:", '%.2f' % a)
  if (c == 16):
    print("16 лет:", '%.2f' % a)
  c += 1

5 лет: 235067.45
8 лет: 300747.49
12 лет: 417716.23
16 лет: 580177.23

# Задача 5
Вы покупаете автомобиль за 850 тыс. рублей. Ваш первоначальный взнос составляет 400 тыс. рублей. Остаток суммы вы хотите взять в кредит от Хоум Кредит Банка под 10.9%. Рассчитайте переплату по кредиту, если кредит будет оформлен на 5 лет. Для расчета платежа используйте формулу расчета аннуитетного платежа.

In [1]:
# Впишите сюда ваше решение

s = 850000 - 400000
i = 0.109 / 12
n = 60

k = i * (1 + i) ** n / ((1 + i) ** n - 1)
a = k * s
total = a * n
overprice = total - s

 

print('Каэффициэнт:', '%.3f' % k,
      '\nЕжемесячный платеж:', '%.2f' % a,
      '\nСумма кредита:', '%.2f' % total,
      '\nСумма переплаты:', '%.2f' % overprice)

Каэффициэнт: 0.022
Ежемесячный платеж: 9761.66
Сумма кредита: 585699.81
Сумма переплаты: 135699.81